@model IEnumerable<WardrobeAppMVC.Models.WardrobeItem>
@{
    ViewBag.Title = "Index";
}
    
    <h2>My Clothes</h2>

    <p class="create">
        <button>@Html.ActionLink("Create New", "Create")</button>
        <button onclick="Redirect()">@Html.ActionLink("Nike", "Visit Site")</button>
        <output name="result" id="confirmResponse"></output>
    </p>

    <div id="myBtnContainer">
        <button @*class="btn active"*@ onclick="filterMeWardrobe('all')"> Show all</button>
        <button @*class="btn"*@ onclick="filterMeWardrobe('blue')">Blue</button>
        <button @*class="btn"*@ onclick="filterMeWardrobe('black')">Black</button>
        <button @*class="btn"*@ onclick="filterMeWardrobe('mixed')">Mixed</button>
    </div>
    <div>
        <input type="text" id="searchText" placeholder="Enter Search Text" />
        <button @*class="btn"*@ onclick="filterMeWardrobe('')">Filter</button>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h2>@Html.DisplayFor(modelItem => item.Description)</h2>
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" />
                        <p hidden id="myColor">@Html.DisplayNameFor(model => model.Color) : @Html.DisplayFor(modelItem => item.Color)</p>
                        <p></p>
                        <button>@Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) </button>
                        <button>@Html.ActionLink("Details", "Details", new { id = item.ItemID }) </button>
                        <button>@Html.ActionLink("Delete", "Delete", new { id = item.ItemID })</button>
                    </div>
                </div>
            </div>
        }
    </div>